.property-item-container {
  position: relative;
  font-size: 14px;
  height: 20px;

  .property-item {
    padding-left: 20px;
  }

  .property-item-key {
    color: #881391;
  }

  .property-item-value {
    color: #263238;
  }
}

.property-item-normal::before {
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: 12.5px;
  margin-top: 7px;
  border: 4px solid transparent;
  border-left-color: #707d8b;
}

.property-item-active::before {
  left: -2.5px;
  border-top-color: #707d8b;
  border-left-color: transparent;
}
