.micro-layout-header {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: cornflowerblue;
  box-shadow: 0 0 1px 1px rgba(#000, .3);

  .micro-layout-header-item {
    cursor: pointer;
    width: 70px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .micro-layout-header-item:hover,
  .micro-layout-header-item-active {
    background: #eceffe;
    color: #263238;
    opacity: 0.5;
  }

  .micro-helper-bottom-line {
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: #fff;
    width: 90px;
    transition: all .5s ease;
  }
}
